<section class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Login</p>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input type="email" placeholder="" formControlName="email" class="form-control"  />
                      <label class="form-label" for="email">Email*</label>
                      @if (f.email.touched && f.email.errors) {
                        <div class="validation-error">
                          @if (f.email.errors['required']) {
                            <span>L'email est requis</span>
                          }@else if (f.email.errors['email']) {
                            <span>Veuillez entrer une adresse email valide</span>
                          }
                        </div>
                      }
                </div>
              </div>

              <div class="d-flex flex-row align-items-center mb-4">
                <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                <div data-mdb-input-init class="form-outline flex-fill mb-0">
                  <input type="password" placeholder="" id="password" formControlName="password" class="form-control"  />
                  <label class="form-label" for="password">Mot de passe*</label>
                  @if (f.password.touched && f.password.errors) {
                    <div class="validation-error">
                      @if (f.password.errors['required']) {
                        <span>Le mot de passe est requis</span>
                      }
                    </div>
                  }
                </div>
              </div>
                  <!-- 2 column grid layout for inline styling -->
                  <div class="row mb-4">
                    <div class="col d-flex justify-content-center">
                      <!-- Checkbox -->
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="rememberMe"  formControlName="rememberMe" checked />
                        <label class="form-check-label" for="rememberMe"> Se souvenir de moi </label>
                      </div>
                    </div>

                    <div class="col">
                      <!-- Simple link -->
                      <a href="#!">Mot de passe oublié?</a>
                    </div>
                  </div>

                  <!-- Submit button -->
                  <button type="submit"  data-mdb-button-init data-mdb-ripple-init
                    class="btn btn-primary btn-block mb-4" [disabled]="loginForm.invalid" >Se connecter</button>

                  <!-- Register buttons -->
                  <div class="text-center">
                    <p> Pas encore de compte? <a  [routerLink]="AUTH.register" >S'inscrire</a></p>
                    <p>Ou connectez-vous avec:</p>
                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-facebook-f"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-google"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-twitter"></i>
                    </button>

                    <button type="button" data-mdb-button-init data-mdb-ripple-init
                      class="btn btn-link btn-floating mx-1">
                      <i class="fab fa-github"></i>
                    </button>
                  </div>
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>