.info-text {
    font-size: 14px;
    color: #666;
    margin-top: 20px;
}

.form-outline input:not(:placeholder-shown) + label {
    transform: translateY(-1rem) translateY(0.1rem) scale(.8);
    background-color: white;
    padding: 0 0.2rem;
  }
  