<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Toggle button -->
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
            </ul>
            <!-- Left links -->
        </div>
        <!-- Collapsible wrapper -->

        <!-- Right elements -->
        <div class="d-flex align-items-center">

            <!-- Create new tournoi -->
            @if(hasAdmin()){
            <div class="dropdown" (click)="createTournoiModal()">
                <i class="fa fa-plus" aria-hidden="true"><span>Cree tournoi</span> </i>
            </div>
            }
            <!-- Notifications -->
            <div class="dropdown">
                <a data-mdb-dropdown-init class="text-reset me-3 dropdown-toggle hidden-arrow" href="#"
                    id="navbarDropdownMenuLink" role="button" aria-expanded="false">
                    <i class="fas fa-bell"></i>
                    <span class="badge rounded-pill badge-notification bg-danger">1</span>
                </a>
            </div>



            <!-- Avatar -->
            <div ngbDropdown class="right-elements dropdown">
                <a class="dropdown-toggle d-flex align-items-center hidden-arrow" id="dropdownBasic1" role="button">
                    <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                        alt="Black and White Portrait of a Man" loading="lazy" ngbDropdownToggle />
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Profil</button>
                    <button ngbDropdownItem (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
        <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->



<!-- body -->

<div class="py-6">
    <div class="row">

        @for(tournoi of tounois();track tournoi){
        <div class="col-lg-3 col-12">
            <!-- card -->
            <div class="card mb-5 rounded-3">
                <div>
                    <img src="https://bootdey.com/image/480x180/191970/ffffff" alt="Image"
                        class="img-fluid rounded-top">
                </div>

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{tournoi.title}}</h5>
                        <p class="card-text">{{tournoi.description}}</p>
                        @if(!hasAdmin()){
                        <button type="button" class="btn btn-primary" data-mdb-ripple-init>S'inscrire</button>
                        }
                    </div>
                </div>

            </div>
        </div>
        }

    </div>
</div>